version: "3.8"

services:
  app-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    networks:
      - dokploy-network
  app-fronend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_ENDPOINT=${VITE_API_ENDPOINT}
    env_file:
      - .env
    networks:
      - dokploy-network

networks:
  dokploy-network:
    driver: bridge
